// some * stuff+font
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

.wrapper {
	display: flex;
	flex-flow: row wrap;
	text-align: center;
}
.wrapper > * {
	background: rgb(126, 34, 172);
	background: linear-gradient(
		90deg,
		rgba(126, 34, 172, 1) 28%,
		rgba(17, 242, 240, 1) 63%,
		rgba(23, 235, 157, 1) 100%
	);

	backdrop-filter: blur(85px);
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
}
body {
	margin: 0;
	padding: 0;
	font-family: Oswald;
}

header {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
}

ul {
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: center;
}

li {
	padding: 0 20px;
	text-decoration: none;
	color: #000000;
	display: inline-block;
	overflow: hidden;
	transform-style: preserve-3d;
}
a {
	text-decoration: none;
	color: #000000;
	display: inline-block;
	overflow: hidden;
}

@keyframes bounce {
	0%,
	20%,
	60%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}

	80% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}
}
a:hover {
	animation: bounce 1s;
}

.firstsec {
	flex-direction: row;
	text-align: left;
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: space-around;
	align-content: center;
	flex-wrap: nowrap;
}

.c-l {
	display: flex;
	flex-direction: column;
	height: 300px;
	width: 350px;
	align-items: left;
	justify-content: space-around;
}

.c-r {
	display: flex;
	width: 400px;
	height: 300px;
}

main h1 {
	font-size: 35px;
	color: #133b4f;
	text-transform: uppercase;
}

main h2 {
	font-size: 25px;
	color: aqua;
	font-weight: 300;
	text-transform: uppercase;
}

.cta {
	padding: 15px 30px;
	background: #c4c4f7;
	color: #fff;
	outline: none;
	border: none;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 50px;
	text-decoration: none;
	width: 200px;
}

.signup-btn {
	padding: 15px 20px;
	background: #c4c4f7;
	color: #fff;
	outline: none;
	border: none;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 50px;
}

img {
	border-radius: 20px;
}
